@{
    ViewData["Title"] = "Área Administrativa";
    Layout = null;
}
<h1>@ViewData["Title"]</h1>
<br><br>
<a asp-asp-controller="Categorias" asp-action="Index">Categorias</a>
<br><br>
<a asp-asp-controller="Produtos" asp-action="Index">Produtos</a>
